[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.20.2"
scipy = "==1.6.2"
matplotlib = "==3.4.1"
numba = "==0.53"
requests = "*"

[dev-packages]
flake8 = "~=4.0.1"
flake8-annotations = "~=2.7.0"
flake8-bugbear = "~=21.9.2"
flake8-import-order = "~=0.18.1"
autopep8 = "~=1.6.0"
pre-commit = "~=2.15.0"
ipython = "==7.22.0"
setuptools-rust = "==0.12.1"
mini-keras = {editable = true, path = "."}

[scripts]
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
